---
---

<section class="px-6 bg-[#eae9e984] my-4">
  <h1 class="text-2xl text-center text-gray-800 py-4">
    About <span class="text-blue-500 s-name">Majestic Mobiles</span>
  </h1>
  <p class="text-lg text-gray-700 pb-6 text-justify">
    Your destination for top-notch iPhones. From premium second-hand deals to
    the latest models and accessories, We offer a complete iPhone experience.
    Our expert repairs revive your device, from screen fixes to battery boosts.
    At <span class="text-blue-500 font-semibold s-name">Majestic Mobiles</span>,
    quality meets innovation.
  </p>
</section>

<style>
  .s-name {
    background: linear-gradient(
      to right,
      #ca7441,
      #a57960,
      #228cc8,
      #4d67da,
      #ad9922
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
</style>
