---
interface Props {
  content: string;
}
const { content } = Astro.props;
---

<div
  class="bg-white p-2 rounded-lg shadow-sm flex justify-center flex-col items-center"
>
  <img src={content} alt="thumbnails" class="rounded-lg" />
</div>
