---
---

<footer class="bg-gray-800 text-white py-2 px-4">
  <div class="mx-auto flex flex-col justify-between items-center">
      <div class="flex space-x-6 pt-4">
        <a href="#" class="text-white hover:underline">Facebook</a>
        <a href="#" class="text-white hover:underline">Twitter</a>
        <a href="#" class="text-white hover:underline">Instagram</a>
      </div>
      
    <p class="mt-4 text-xs text-[#ffffff72]">&copy; 2023 Majestic Mobiles. All rights reserved.</p>
    
  </div>
</footer>
